In [1]:
import sqlalchemy as alchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, BigInteger
from sqlalchemy.orm import sessionmaker
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
NOMBRE_DB = "tp3punto3"
USUARIO_DB = 'postgres' #gaston
PASSWORD_DB = 'postgres' #gastonm1
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB,'')

engine = alchemy.create_engine(url_db, echo=True)
try:
    conn = engine.connect()
    conn.execute("commit")
    conn.execute("create database " + NOMBRE_DB)
    conn.close()
except Exception as e:
    print str(e)
url_db = 'postgresql+psycopg2://%s:%s@localhost:5432/%s'%(USUARIO_DB, PASSWORD_DB, NOMBRE_DB)
engine = alchemy.create_engine(url_db, echo=True)

Base = declarative_base()

2017-09-05 14:43:27,347 INFO sqlalchemy.engine.base.Engine select version()
2017-09-05 14:43:27,348 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:43:27,353 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-05 14:43:27,354 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:43:27,357 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-05 14:43:27,359 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:43:27,361 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-05 14:43:27,366 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:43:27,371 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-05 14:43:27,374 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:43:27,376 INFO sqlalchemy.engine.base.Engine commit
2017-09-05 14:43:27,377 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:43:27,380 INFO sqlalchemy.engine.base.Engine create database tp3punto3
2017-09-05 14:43:27,384 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:43:27,386 INFO sqlalchemy.engine.base.Engine ROLLBACK
(psycopg2.ProgrammingError) database "tp3punto3" already exists
 [SQL: 'create database tp3punto3']

In [3]:
class Ciudad(Base):
    __tablename__ = 'Ciudad'
    
    id = Column(Integer, primary_key=True)
    nombre = Column(String)
    producto = Column(Integer)

In [4]:
Base.metadata.create_all(engine)

2017-09-05 14:43:27,616 INFO sqlalchemy.engine.base.Engine select version()
2017-09-05 14:43:27,618 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:43:27,621 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-05 14:43:27,630 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:43:27,641 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-05 14:43:27,642 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:43:27,648 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-05 14:43:27,649 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:43:27,655 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-05 14:43:27,660 INFO sqlalchemy.engine.base.Engine {}
2017-09-05 14:43:27,666 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 14:43:27,672 INFO sqlalchemy.engine.base.Engine {'name': u'Ciudad'}

In [8]:
df_ciudades = pd.read_sql("select * from \"Ciudad\"", engine, index_col='id')

2017-09-05 14:44:08,353 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-05 14:44:08,355 INFO sqlalchemy.engine.base.Engine {'name': u'select * from "Ciudad"'}
2017-09-05 14:44:08,359 INFO sqlalchemy.engine.base.Engine select * from "Ciudad"
2017-09-05 14:44:08,363 INFO sqlalchemy.engine.base.Engine {}

Empty DataFrame
Columns: [nombre, producto]
Index: []

In [ ]:
df_ciudades.head(5)

In [ ]:
datos_producto = 'data/MOCK_DATA-tp3-punto3-bd-producto.csv'
df_producto = pd.DataFrame.from_csv(datos_producto,sep=',',index_col='id')

In [ ]:
df_producto.head(5)

In [ ]:
datos_tipo_producto = 'data/MOCK_DATA-tp3-punto3-json2-tipoProducto.json'
df_tipoProducto = pd.read_json(datos_tipo_producto)

In [ ]:
df_tipoProducto= df_tipoProducto.set_index('id')

In [ ]:
df_tipoProducto.head(5)

In [ ]:
frames = [df_ciudades, df_producto, df_tipoProducto]

In [ ]:
resultConcatenacion = pd.concat(frames)
resultConcatenacion.head(5)

In [ ]:
resultMerge = pd.merge(df_producto, df_ciudades)
resultMerge.head(5)

In [ ]:
datos_producto2 = 'data/MOCK_DATA-tp3-punto3-bd-producto2.csv'
df_producto2 = pd.DataFrame.from_csv(datos_producto2,sep=',',index_col='id')
df_producto2.head(5)

In [ ]:
resultAppend = df_producto.append(df_producto2)
resultAppend.head(5)

In [ ]:
resultadoJoinAll=pd.merge(df_producto, df_producto2, how='outer')
resultadoJoinAll.head(5)

In [ ]:
#Insertar todos los result en db
#DataFrame.to_sql(name, con[, flavor, ...])	Write records stored in a DataFrame to a SQL database.
resultadoJoinAll.to_sql('resultadoJoinAll', engine,if_exists='replace')
resultAppend.to_sql('resultadoAppend', engine, if_exists='replace')
resultConcatenacion.to_sql('resultadoConcatenacion', engine, if_exists='replace')
resultMerge.to_sql('resultadoMerge', engine, if_exists='replace')